.home {
    background-color: #222;
    width: 50vw;
    min-height: 60vh;
    margin: 40px auto;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}