.home-text {
    text-align: center;
}

.home-text h2 {
    color: #fafafa;
    font-size: 2em;
}

.home-text h3 {
    color: #D36135;
    font-size: 1.5em;
    max-width: 80%;
    margin: 0 auto;
    padding-top: 10px;
}