.home-button {
    font-size: 2em;
    color: #fafafa;
    text-decoration: none;
    font-weight: bolder;
    background-color: #D36135;
    padding: 20px 40px;
    border-radius: 20px;
    margin: 30px;
    transition: all 0.3s;
}

.home-button:hover {
    color: #D36135;
    background-color: #fafafa;
}