.header-navegation-bar ul {
    display: flex;
}

.header-navegation-bar ul li {
    padding: 10px 20px;
}

.header-navegation-bar ul li a {
    color: #fafafa;
    margin: 10px;
    cursor: pointer;
    position: relative;
    text-decoration: none;
}

.header-navegation-bar ul li a:before {
    content: '';
    position: absolute;
    top: 20px;
    width: 0;
    height: 2px;
    background-color: #D36135;
    transition: all 0.3s ease;
}

.header-navegation-bar ul li a:hover:before {
    width: 100%;
    transition: all 0.5s ease;
}

