.message-input-form {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
}

.message-input-form div {
    margin: 0 auto;
    margin-bottom: 10px;
}

.message-input-form label {
    color: #fafafa;
    font-size: 1.1em;
}
.message-input-form div input {
    padding: 5px;
}

.message-input-form textarea {
    padding: 10px;
    resize: none;
}

.message-input-form div input, .message-input-form textarea {
    background-color: #333;
    border-radius: 7px;
    outline: none;
    border: none;
    color: #fafafa;
    font-size: 1.1em;
}

.message-input-form [type="submit"] {
    width: 30%;
    margin: 20px auto;
    padding: 10px 0;
    border-radius: 7px;
    font-weight: bolder;
    font-size: 1.1em;
    color: #fafafa;
    background-color: #D36135;
    transition: all 0.3s;
}

.message-input-form [type="submit"]:hover {
    color: #D36135;
    background-color: #fafafa;
}