.post {
    min-height: 150px;
    padding: 20px;
    color: #fafafa;
    background-color: #222;
    margin-bottom: 10px;
    border-radius: 7px;
    transition: all 0.3s;
}

.post:hover {
    box-shadow: 0 0 10px 3px #D36135;
}

.post h2 {
    margin-bottom: 10px;
    font-size: 1.1em;
}

.post p {
    font-size: 1.2em;
}